@tailwind base;
@tailwind components;
@tailwind utilities;

/*  CSS Reset - from Plure... */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Shadcn UI theme generator */
@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #003973, #e5e5be);
    --background: 223 100% 98.46%;
    --foreground: 223 10% 0.92%;

    --muted: 223 10% 92.3%;
    --muted-foreground: 223 5% 42.3%;

    --popover: 223 10% 92.3%;
    --popover-foreground: 223 10% 1.1500000000000001%;

    --card: 223 10% 92.3%;
    --card-foreground: 223 10% 1.1500000000000001%;

    --border: 223 15% 89.92%;
    --input: 223 15% 89.92%;

    --primary: 223 100% 23%;
    --primary-foreground: 223 2% 92.3%;

    --secondary: 223 5% 96.15%;
    --secondary-foreground: 223 7% 12.3%;

    --accent: 223 5% 96.15%;
    --accent-foreground: 223 7% 12.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 223 100% 23%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #334d50, #cbcaa5);

    --background: 198 14.3% 2.08%;
    --foreground: 198 2.2% 96.3%;

    --muted: 198 11% 7.800000000000001%;
    --muted-foreground: 198 2.2% 52.6%;

    --popover: 198 60.6% 3.38%;
    --popover-foreground: 198 2.2% 96.3%;

    --card: 198 60.6% 3.38%;
    --card-foreground: 198 2.2% 96.3%;

    --border: 198 11% 7.800000000000001%;
    --input: 198 11% 7.800000000000001%;

    --primary: 198 22% 26%;
    --primary-foreground: 198 2.2% 96.3%;

    --secondary: 198 11% 7.800000000000001%;
    --secondary-foreground: 198 2.2% 96.3%;

    --accent: 198 11% 7.800000000000001%;
    --accent-foreground: 198 2.2% 96.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 198 2.2% 96.3%;

    --ring: 198 22% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.auth {
  @apply flex-center min-h-screen w-full;
}

.root {
  @apply flex min-h-screen w-full flex-col lg:flex-row;
}

.root-container {
  @apply mt-16 lg:mt-0 flex-1;
}

.map-container {
  @apply flex mt-16 lg:mt-0 flex-1;
}

.bg-gradient {
  background: var(--gradient);
}

@layer utilities {
  .wrapper {
    @apply mx-auto px-5 lg:px-10 mt-4 lg:mt-6 w-full text-dark-400 p-16-regular;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* 16 */
  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }

  .p-16-medium {
    @apply font-medium text-[16px] leading-[140%];
  }

  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
  }

  .p-14-medium {
    @apply font-medium text-[14px] leading-[130%];
  }

  .p-14-regular {
    @apply font-normal text-[14px] leading-[130%];
  }

  .gradient-text {
    @apply bg-purple-gradient bg-cover bg-clip-text text-transparent;
  }

  /* Sidebar Component */
  .sidebar {
    @apply hidden h-screen w-64 p-5 shadow-md shadow-purple-200/50 lg:flex;
  }

  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply flex-center p-16-semibold w-full whitespace-nowrap rounded-lg bg-cover transition-all hover:bg-purple-100 hover:shadow-inner;
  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 py-2.5 p-4;
  }

  .setting-nav_element {
    @apply cursor-pointer px-2 py-1 p-16-medium w-full whitespace-nowrap rounded-sm transition-all hover:bg-purple-100 hover:shadow-inner;
  }

  .header {
    @apply flex-between fixed h-16 w-full border-b border-border p-5 lg:hidden;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .input-field {
    @apply rounded-[16px] border-2 border-purple-200/20 shadow-sm shadow-purple-200/15 text-dark-600 disabled:opacity-100 p-16-semibold h-[50px] md:h-[54px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-dark-600 w-full placeholder:text-dark-400 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: #384262;
}
